.right-menu {
    list-style: none;
    margin-left: 0;
    text-align: left;
    padding-left: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    color: #333;
}
.zone-sub-list,.zone-bcde-index{
    margin-top: 1em;
}
.right-menu .btn {
    width: 2.5em;
    height: 2.5em;
    cursor: pointer;
    margin: 5px 15px 10px 15px;
    font-weight: 700;
}

.fico {
    font-size: 1.5rem;
    width: 1em;
    height: 1.2em;
    margin: auto;
    line-height: 1.5 !important;
}

.display-default-none{
    display: none;
}

.btn-wc{
    background-color: #0581dd;
}
.btn-exit{
    background-color: #009e0b;
}
.btn-bookshelf{
    background-color: #ae04b7;
}
.btn-room-avaiable{
    background-color: #1784ce;
}
.btn-room-occupied{
    background-color: #ff8c69;
}