<div class="row container-map">
    <div class="col-md-9 col-sm-8">
        <div class="row left-content">
            <div class="menu-left col-sm-3 col-md-2  col-lg-2">
                <ul class="left-menu">
                   left menu
                </ul>
            </div>
            <div class="map col-sm-9 col-md-10  col-lg-10 mapdata">
              
                center
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-4">
        <div class="right-content">
            right
        </div>
    </div>
</div>