<div class="row container-map">
    <div class="col-md-9 col-sm-8">
        <div class="row left-content">
            <div class="menu-left col-sm-3 col-md-1  col-lg-1">
                <ul class="left-menu">
                    <li>
                        <button type="button" class="btn btn-primary" routerLink="/"><i class="fas fa-undo-alt fico"></i></button>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9 col-md-1  col-lg-11 center book-detail" id="carousel-book">

                <p class="book-bigtitle">{{'NEWARRIVALS.NEWARRIVALS' | translate }}</p>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" *ngFor="let book of listbooks">
                            <a [routerLink]="['detail', book.id]" class="wiper-slide-a">
                                <img src="../../../../../assets/images/Book1.jpg" alt="" class="book-slider-img">
                                <p class="book-name">{{book.detail}}</p>
                            </a>
                        </div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                </div>
                <div id="swiper-button-next"></div>
                <div id="swiper-button-prev"></div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-4">
        <div class="right-content">
            <p class="info-book">
                <span class="text-info-detail">
                        <i class="fas fa-book icon"></i> {{ 'NEWARRIVALS.BOOKINSHELF' | translate}}
                </span>
            </p>
            <p class="info-book">
                <span class="text-info-detail">
                        <i class="fas fa-atlas icon"></i> {{ 'NEWARRIVALS.BOOKINSHELF' | translate}}
                </span>
            </p>
        </div>
    </div>
</div>