<div class="row container-map">
    <div class="col-md-9 col-sm-8">
        <div class="row left-content">
            <div class="col-md-3 col-sm-4 col-xs-4 left">
                <div class="menu">

                    <div class="events-list">
                        <div class="row events-title">
                            <p class="events-title-text">{{'INFOMATIONEVENT.UPCOMINGEVENT' | translate }}</p>
                        </div>


                        <ul class="events-coming">
                            <li class="event-row">
                                <div class="col-md-4 event-time">
                                    <div class="event-dayhour">
                                        <p style="margin: 0;">Dec 12</p>
                                        <p style="margin: 0;">18:30</p>
                                    </div>


                                </div>
                                <div class="col-md-8 event-name">
                                    SỰ KIỆN MỞ CỬA THƯ VIỆN LIBRARY PLUS
                                </div>
                            </li>
                            <li class="event-row">
                                <div class="col-md-4 event-time">
                                    <p style="margin: 0;">Nov 12</p>
                                    <p style="margin: 0;">18:30</p>
                                </div>
                                <div class="col-md-8 event-name">
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit
                                </div>
                            </li>
                            <li class="event-row">
                                <div class="col-md-4 event-time">
                                    <p style="margin: 0;">Oct 12</p>
                                    <p style="margin: 0;">18:30</p>
                                </div>
                                <div class="col-md-8 event-name">
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit.
                                </div>
                            </li>

                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-md-9 center">
                <div class="events-frame">
                    <img src="assets/images/Event1.png" alt="" class="event-img">

                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-4">
        <div class="right-content">
            <div class="event-desc">
                <img src="./img/calendar.png" alt="" style="width: 70%; margin-bottom: 2rem;">
                <p class="even-desc-title">Description</p>
                <p class="even-desc-text">Lorem ipsum dolor sit amet,
                    consectetuer adipiscing elit, sed diam
                    nonummy nibh euLorem ipsum dolor
                    sit amet, consectetuer adipiscing elit,
                    sed diam nonummy nibh euismod
                    tincidunt ut laoreet dolore magna
                    aliquam erat volutpat. Lorem ipsum dolor sit amet,</p>
                <p>Scan this code to see more details:</p>
                <img src="./img/QRcode.png" alt="" class="event-qrcode">

            </div>  
        </div>
    </div>
</div>